.tab {
  padding-left: 0;
  height: 100%;
  font-size:16px;
  font-weight:600;
}

.tab a {
  background-color: inherit;
  color: inherit;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  line-height: 30px;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link  {
  border-right: 2px solid rgb(55, 225, 103);
  background-color: #161828;
}

.nav-pills .nav-link  {
  border-radius: unset;
}
.tab a:hover {
  background-color: rgb(55, 225, 103);
}
i {
  margin-right: 10px;
}

#v-pills-tab {
  width: 20%;
}

#v-pills-tabContent {
  padding: 10px;
  width: 80%;
  height: 90vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

#v-pills-tabContent::-webkit-scrollbar {
  display: none;
}



@media screen and (max-width: 900px) {
 

  .col-1 .col-2 .col-10 .row > *{
    padding: 0;
    margin: 0;
  }
}