.skills {
  background-color: rgb(17, 138, 178);
  border-radius: 5px;
  margin: 10px 0px;
}
.skill-label {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: inline;
  text-align: left;
  width: 150px;
  padding-left: 20px;
  background-color: rgb(239, 71, 111);
  height: 28px;
  font-weight: bold;
}
