* {
  box-sizing: border-box;
}

html{
  height:100% !important;
  width:100% !important; 
  margin:0; 
  padding:0px;
}


body{
  height:100% !important;
  width:100% !important; 
  margin:0px; 
  padding:0px;
  background-color: #010417;
  color: #ffffff !important;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: #ffffff;
}


.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}

