@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');


html{
  height:100% !important;
  width:100% !important; 
  margin:0; 
  padding:0px;
}


body{
  height:100% !important;
  width:100% !important; 
  margin:0px; 
  padding:0px;
  background-color: #2b2e4a;
}

#home {
  height:100% !important;
  width:100% !important;
  padding: 5%;
  color: #ffffff;
  font-family: 'Notable', sans-serif;
}

.row {
  margin: 0;
  padding: 0;
}
#home h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#home h5 {
  color: white;
  text-shadow: 1px 1px 2px rgb(165, 61, 61), 0 0 25px rgb(251, 39, 68), 0 0 5px darkblue;
}

.social-connect {
  width: 100%;
  text-align: center;
  bottom: 0;
  z-index: 99;
}
ul.social-links {
  padding: 0%;
  margin: 0;
}

.social-links li {
  list-style: none;
  display: inline-flex;
}

.button {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resume-button {
  background-color: #f73859;
}
.resume-button:hover {background-color: #d81838;}

.resume-button:active {
  background-color: #2b2e4a;
  box-shadow: 0 5px #343969;
  transform: translateY(4px);
}

.blog-button { background-color: rgb(137, 243, 31); }
.blog-button:hover { background-color: #5ac90b; }

#frame > a{
  color: #ffffff;
  text-decoration: none;
}

.navbar-dark .nav-item .nav-link,
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link,
.navbar-dark .nav-item:hover .nav-link {
        background-color: #2b2e4a;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-color: blue;
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 600px) {
  #home h1 {
    font-size: 24px;
  }
  
  #home h5 {
    font-size: 12 px;
  }

  #aboutme > p {
    font-size: 10px;
    padding: 10px;
  }

  #frame > a {
    font-size: 12px;
  }
  .card {
    padding: 10px;
  }
}